@import 'modules/_status';
@import 'modules/_nav';

body {
  padding-top: 80px;
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.container h1:first-of-type {
  margin-top: 0;
}