body {
  padding-top: 70px;
}

.container h1:first-of-type {
  margin-top: 0;
}

.nav-gravatar {
  float: left;
  position: relative;
  top: -5px;
  left: -8px;
  border: 1px solid #555;
}

.status-media {
  border: 1px solid #e3e3e3;
  background: white;
  padding: 1em;
  margin-bottom: 2em;
}